/META.yml
/MYMETA.*
/Makefile
/Makefile.old
/MANIFEST
/MANIFEST.bak
/blib/
/pm_to_blib
/.build
!.gitignore
*.bs
/xs/*.c
*.o
cover_db
*.gc??
test-mydeps-*
nytprof*
/inc/
!.gitignore
*.sw*
/Task-Kensho-*
/Task-Kensho*/META.yml
/Task-Kensho*/MYMETA.*
/Task-Kensho*/Makefile
/Task-Kensho*/Makefile.old
/Task-Kensho*/MANIFEST
/Task-Kensho*/MANIFEST.bak
/Task-Kensho*/blib/
/Task-Kensho*/pm_to_blib
/Task-Kensho*/.build
/Task-Kensho*/inc/
/Task-Kensho*/Task-Kensho-*
